<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Meow+Script&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Username details</title>
    <style>
        .cont{
            text-align: center;
            padding: auto;
            padding-top: 120px;
            margin: auto;
            border-top: 10cm;
            font-size: 20px;
            font-family: 'Meow Script', cursive;
            font-style: inherit;
            color: lightcyan;
        }
        .bd{
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        }
        input[type=text] {
            width: 20%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            background-color: #ffffff;
            color: black;
        };
        /* .header {
            margin: inherit;
          padding: 60px;
          text-align: center;
          background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
          color: rgb(209, 218, 219);
          font-size: 20px;
        } */
        
        </style>
</head>
<body class="bd">
    <!-- <div class="header">
        <h1>let's connect</h1>
      </div> -->
    <div class="cont">
        <h1>Please enter your username!!!</h1>
    <form action="/chat">
        <input id="username" type="text" name="username" placeholder="Username" />
        <br />
        <br />
        <button type="submit">Enter</button>
    </form>
</div>
</body>
</html>
